# Compiled
*.elc
*.eln
eln-cache/

# Installed packages
elpa/

# Backup, auto-save and lock files
*~
\#*\#
.\#*
auto-save-list/

# Runtime state written by Emacs and packages
recentf.eld
places.eld
history
network-security.data
tramp
transient/
url/

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# macOS
.DS_Store

# Emacs runtime output
var/
